*{
    background: #303030;
    color: #f8f8ff;
}
.container{
    padding: 36px;
    margin: 0 auto;
    font-weight: 700;
}
.TodoList--container{
    max-width: 400px;
    padding: 12px 24px;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: #a3c1ad;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 20px;

}
.TodoItem{
    background: inherit;
    border-bottom:2px solid rgba(48, 48, 48, .5);
    padding: 8px 0;
}
.Todo__Label{
    background-color: inherit;
}